---
import Layout from '../layouts/Layout.astro';
import Bento from '../components/Bento.astro';
import Gallery from '../components/Gallery.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="RamSer S.S es una sociedad que se encarga de la sanidad ambiental y el control de plagas en la región del NEA, con domicilio en Pampa del Infierno, Chaco"
description="Descubre nuestros servicios y contáctanos">
	<main>
		<Bento/>
		<Gallery/>
	</main>
	<Footer/>
</Layout>

<style>
	
</style>
