---
interface Props{
    class?:string
    title:string
}

const {title} = Astro.props
---
<article class={`
    ${Astro.props.class}
    relative rounded-2xl
    blackdrop-blur-md
    border border-black/10
    shadow-inner shadow-white/10
    overflow-hidden
    group
`}
>
    <div class="absolute z-10 bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-30 via-black/20 to-black/80"></div>
    <slot name = "image"/>
    
    <div class="relative select-none flex flex-col gap-1 p-6 text-lg z-20 justify-end h-full">
        {title && <h2 class="text-xl md:text-3xl font-bold text-balance text-white mb-4">{title}</h2>}
       <slot name = "content"/>
       
    </div>
    
</article>