<div>
    <h1 class="md:pt-20 text-center text-xl md:text-4xl font-mono">Haga su consulta</h1>
    <div class=" col-span-1 text-center text-sm md:text-lg font-mono p-6 justify-between">
        <ul> <img class="h-8 w-8 inline " src="/Group.svg" alt=""><li class="pr-2"> ramonbangher@yahoo.com.ar</li>
            <img class="h-8 w-8 inline " src="/Vector.svg" alt=""><li class="pr-2"> 3644-500294</li>
            <img class="h-8 w-8 inline " src="/Face.svg" alt=""><li class=" pr-2"> RamSer S.A.S Saneamiento Ambiental</li>
        </ul>
    </div>

</div>