
<div class="py-12">
    <div class="max-w-4xl mx-auto px-4">
      <h2 class="text-4xl font-bold text-center mb-6">¡Haz tu consulta!</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 items-center justify-center">
        <!-- WhatsApp -->
            <div class="flex flex-col items-center">
            <a href="https://wa.link/e37vuw" class="text-green-600 hover:text-green-800">
                <img class="h-10 w-10 inline " src="/wap.png" alt="">
            </a>
            <p class="text-center mt-1"> <a href="tel:numero-de-telefono">3644-598253</a></p>
            </div>
            <!-- Facebook -->
            <div class="flex flex-col items-center">
            <a href="#" class="text-blue-600 hover:text-blue-800">
                <img class="h-10 w-10 inline " src="/Face.svg" alt="">
            </a>
            <p class="text-center" ><a href="https://www.facebook.com/profile.php?id=100064195952988">RamSer S.A.S Saneamiento Ambiental</a></p>
            </div>
            <!-- Correo electrónico -->
            <div class="flex flex-col items-center">
            <a href="mailto:correo@example.com" class="text-gray-600 hover:text-gray-800">
                <img class="h-8 w-8 inline " src="/email.png" alt="">
            </a>
            <p class="text-center mt-2"><a href="mailto:ramonbangher@yahoo.com.ar">ramonbangher@yahoo.com.ar</a></p>
            </div>

        </div>
    </div>
  </div>

  <footer class="bg-black/40 py-6">
    <div class="max-w-7xl mx-auto">
        <div class="flex justify-between items-center">
            <div class="text-white text-xs md:text-base">
                <div class="flex items-center mt-1 ">
                    <img src="/maps.svg" class="h-8 w-8" alt="">
                    <p>Av. Antartida Argentina, Pampa del Infierno, Chaco, Argentina</p>
                </div>
                <p class="pl-2 mt-3 md:mt-2">© 2024 RamSer S.A.S. Todos los derechos reservados.</p>
            </div>
            <div class="flex md:space-x-4">
                <div class="flex items-center mt-1 ">
                    <img src="/pc.png" class="h-8 w-8 mr-2" alt="">
                    <p class="text-xs md:text-base">Diseño y Desarrollo por <strong>Matias Bangher</strong></p>
                </div>
            </div>
        </div>
    </div>
  </footer>