<div id="" class="relative w-full bg-gradient-to-r from-black/10"
style="clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);" >
    <section class=" absolute z-10 ">
        <div
            class=" animate-fade-in-right relative mx-auto max-w-screen-xl px-4 py-32 md:pb-56 md:px-9 md:flex md:h-screen md:items-center lg:px-8">
            <div class="max-w-xl text-center ltr:md:text-left rtl:md:text-right">
                    <h1 class="md:ml-11 text-3xl font-extrabold md:text-5xl">
                        RAMSER S.A.S
                
                        <strong class="block font-extrabold text-green-700"> SANEAMIENTO AMBIENTAL </strong>
                    </h1>
                
                    <p class="md:ml-14 mt-4 max-w-lg md:text-xl/relaxed">
                        Sociedad encargada de la sanidad ambiental y el control de plagas en la <strong>region NEA</strong>, con domicilio en <strong>Pampa del Infierno, Chaco.</strong>
                    </p>
                
                    <div class="mt-8 flex flex-wrap gap-4 text-center md:ml-32">
                        <a
                          href="https://wa.link/e37vuw"
                          class="block items-center w-full rounded bg-green-600 px-12 py-3 text-md font-medium text-white shadow hover:bg-green-700 focus:outline-none focus:ring active:bg-green-500 md:w-auto"
                          rel="noopener"                        
                          >
                
                          Contáctanos
                        </a>

                        <a
                          href="#Servicios"
                          class="block w-full rounded bg-white px-12 py-3 text-md font-medium text-green-800 shadow hover:text-green-600 focus:outline-none focus:ring active:text-green-600 md:w-auto"
                        >
                          Servicios
                        </a>         
                    </div>
        </div>
    </section>
    <div class="flex justify-center items-center h-screen">
        <img src="/hero1.webp" class="w-full h-full object-cover opacity-30"
        style="clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);"/> 
    </div>
        
          
</div>


