<div class="w-full relative">
    <h1 class="absolute top-0 left-0 w-full h-full flex justify-center items-center z-10 text-2xl font-bold text-slate-100 font-mono">"Tu tranquilidad, nuestra prioridad"</h1> 
    <a
    class=" absolute bottom-10 left-1/2 transform -translate-x-1/2 z-10 object-bottom inline-block rounded-full bg-green-600 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-indigo-500"
    href="#"
    >
    Contáctanos
    </a>
    <img src="/fum2.jpg" class="w-full h-full object-cover object-top opacity-60" />
    
</div>