<div class="relative w-full pb-40" >
    <img src="/pibe.png" class="z-10 absolute inset-y-0 right-20">
    <article class="absolute z-10 bottom-0 left-32 top-44">
        <div class="max-w-xl mx-auto rounded-[10px]  p-4 !pt-20 sm:p-6">

            <a class="" href="#">
                <h1 class="mb-1 mt-0.5 text-4xl font-family">RAMSER S.S</h1>
                <h2 class="mb-4 mt-0.5">SANEAMIENTO AMBIENTAL</h2>
                <h3 class="mt-0.5 text-md font-family text-white">
                    Somos una empresa con amplio conocimiento que se caracteriza por realizar servicios profesionales de manejo integrado de plagas tanto en jardines como en campos la cual tiene como pilares principales su seriedad, compromiso y calidad de sus servicios.
                </h3>
            </a>

            <div class="mt-10 flex flex-wrap gap-1">

                    <a
                    class="inline-block rounded-full bg-green-600 px-8 py-3 text-xl font-bold text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-indigo-500"
                    href="#"
                    >
                    Contáctanos
                    </a>
            </div>
        </div>
    </article>
    <img src="/images.jpg" class=" rounded-[40px] h-full w-full opacity-5"
    style="filter: grayscale(100%)"/>
    
</div>